.extra-container-bg{
    background-color: #3a94cd;
    max-width: none;
}
.navbar-holder {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 50;
}
.nav-negative-box {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.nav-list{
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
.nav-link a{
	color: #d9d9d9;
	text-decoration: none;
	background-color: transparent;
	font-size: 1.1rem;
}
.nav-link a:hover{
	color: #f2f2f2;
}
.nav-link a::after{
	content: '';
	width: 0%;
	height: 1px;
	background: #f2f2f2;
	display: block;
	margin: auto;
}
.nav-link a:hover::after{	
	width: 100%;
}

.leading-items{
    scrollbar-width: none;
}
.trailing-items{
    /* Might need this for something else? */
    display: flex;
}