.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-general {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-general:hover{
    background-color: #0568eb;
    cursor: pointer;
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 20%;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.marg-top{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
a {
    color: #749bf0;
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 768px){
.container{
    max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}