body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,ms pgothic,
  roboto,helvetica neue,Arial,sans-serif,apple color emoji,
  segoe ui emoji,segoe ui symbol;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color:#303030;
}


div {
  display: block;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
